* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
}

body {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  background-color: rgb(255, 231, 234);
  /* background: linear-gradient(to top left, #f8e7e6, white); */
  border-radius: 30px;
  box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.1);
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-radius: 30px;
}

.btn {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
  border: 1px solid black;
}

.form-control {
  border-radius: 25px;
}


