@import url("https://fonts.googleapis.com/css2?family=Google+Sans&display=swap");
* {
  text-align: center;
  font-family: "Google Sans", cursive;
}

body {
  background: #ffffff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#box {
  background-color: rgb(255, 226, 230);
  box-shadow: 12px 12px 22px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 90vh;
  height: 100%;
  margin: 20px 0px;
}

h2 {
  padding-top: 20px;
}
.container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 20px;
}
input.input1 {
  text-align: left;
}
.input1 {
  outline: none;
  border: none;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

/*---------------BUTTON---------------*/
.btn {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: black;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 20px;
}

button.btn {
  margin: 10px 30px 10px 10px;
}

.btn:hover {
  background-color: white;
  border: 1px solid black;
}

input {
  margin-bottom: 20px; /* space between input box */
}
