* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

body {
  background: #cae4e9;
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  /* padding-top: 280px; */
}

input {
  margin-left: 10px;
}

.form-box {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 60px;
  width: 450px;
  border-radius: 40px;
  padding: 10px;
}

.btn {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.search-field-event {
  border: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.5s;
}

.serach-field-location {
  border: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.5s;
}

.btn:hover {
  background-color: white;
  border: 1px solid black;
}

.search-btn {
  margin-left: 10px;
}
